div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 30px;
  padding: 2px;
  font: 13px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}