body {
    font: 12px sans-serif;
}

div.container {
    padding: 10px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

label {
    font-size: 13px;
}

div.nav {
    position: absolute;
}

div.slides {
    padding-top: 15px;
}

div#slide-2 {
    margin: 0px 150px;
}

div#slide-3 {
    margin: 0px 300px;
}

div.tooltip {
  position: absolute;
  min-width: 180px;
  min-height: 30px;
  padding: 5px;
  font: 13px sans-serif;
  background: #f3f3f3;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}